<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= content %>">
<meta property="og:image" content="<%= imageUrl %>">
<meta property="og:url" content="<%= redirectUrl %>">
</head>
<body>
    <div style="text-align: center; height:20vh;">
        <img src="<%= imageUrl %>" style="max-width: 300px; max-height: 300px;" />
        <a href="<%= redirectUrl %>"> Click here if not redirected automatically</a>
    </div>
</body>
<script>
    const redirectUrl = document.getElementsByTagName('a')[0].getAttribute('href')
    console.log('GOING TO REDIRECT TO ', redirectUrl)
    setTimeout(()=>{
        window.location.replace(redirectUrl);
    })
</script>
</html>